body {
  font-size: 16px;
  font-family: "Roboto Flex", sans-serif;
  background-image: url("/public/images/asfalt-light.png");   
  background-color: darkgrey;
  display: flex;
  justify-content: center;
}

.workorder-form-main {
  padding-top: 13rem;
  height: 95vh;
  display: flex;
  justify-content: center;
  /* padding-bottom: 12.1rem; */
}

/* article {
  display: flex;
  justify-content: center;
  font-size: 16px;
 /* margin-top: 200px;*/
  /* width: 80vw;  
  background-color: lightgrey; 
  background-image: url("/public/images/asfalt-light.png");    */
/* } */ 

.wo-form-header {
  display: flex;
  justify-content: center;
}

.wo-form-container {
  width: 80vw;  
  padding: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: rgb(101, 120, 96);
  background-image: url("/public/images/brick-wall.png");
  border: 1px solid;
}

.wo-form-label-data {
  display: flex;
  width:100%;
  flex-flow: row no-wrap;
  justify-content: flex-start;
  padding: 5px;
}
.wo-form-label {
  width: 49%;
  justify-content: flex-start;
  padding: 5px;
}
.wo-form-data {
  width: 49%;
  justify-content: flex-start;
  padding: 5px;
}
.wo-form-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.wo-form-text-box {
  width:100%;
  border: none;
  border-radius: 0.1rem;
}

.wo-form-screenshot {
  display:flex;
  width:100%;
  justify-content: center;
  margin-bottom: 15px;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 350px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}