body {
  font-size: 16px;
  font-family: "Roboto Flex", sans-serif;
  display: flex;
  justify-content: center;
}

.workorder-form-main {
  padding-top: 13rem;
  height: 95vh;
  display: flex;
  justify-content: center;
}

.workorder-form-main--new {
  padding-top: 14rem;
  display: flex;
  justify-content: center;
  height: 93vh;
}

.workorder-form {
  display: flex;
}

.wo-form-meetinglink-data {
  display: flex;
  width:100%;
  flex-flow: row no-wrap;
  justify-content: flex-start;
  margin-top: 25px;
  /* padding: 0rem 0rem 2rem 0rem; */
  align-items: center;
}

.wo-form-label-meeting-link {
  width: 50rem;
  font-size: 1rem;
}

.wo-form-header {
  font-size: 1.5rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 0.3s;
  border-bottom: 0.25rem solid #4a725c;
  margin-bottom: 2rem;
}

.wo-form-view-screenshot {
  display:flex;
  font-size: 12px;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.wo-form-container {
  width: 80vw;  
  padding: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 2rem 0rem 4rem 0rem;
  border: 1px solid;
  background-image: url("/public/images/brick-wall.png");
  background:#F0F0F0;
  border: 1px solid rgba(0,0,0 ,0.15);
}

.wo-form-container--new {
    width: 80vw;
    padding: 2rem 3rem;
    height: 40rem;
    color: #414141;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 5rem 0rem 4rem 0rem;
    background: rgba( 211, 211, 211, 0.5);
    border: 1px solid rgba(0,0,0 ,0.15);
}

.wo-form-container-view-mentor {
  width: 80vw;
  padding: 2rem 3rem;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: #414141;
  background: rgba( 211, 211, 211, 0.5);
  border: 1px solid rgba(0,0,0 ,0.15);
}

.wo-form-view-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:15rem;
}

.wo-form-label-data {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: flex-start;
  padding: 5px;
}
.wo-form-label {
  width: 45rem;
  justify-content: flex-start;
  padding: 5px;
  font-size: 1rem;
}
.wo-form-data {
  justify-content: flex-start;
  padding: 5px;
  font-size: 1rem;
  width: 50%;
}
.wo-form-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
}

.wo-form-text-box {
  width:100%;
  border: none;
  border-radius: 0.1rem;
}

.wo-form-screenshot {
  display:flex;
  width:100%;
  height: auto;
  justify-content: center;
  margin-bottom: 15px;
}

.wo-form-title-container {
  font-family: 'Roboto';
  font-weight: 700;
  border: 0.15rem solid #4a725c;
  color: #41725c;
  padding: 1rem;
}

.view-wo-img {
  border: 1px solid #ddd; 
  border-radius: 4px; 
  padding: 5px; 
  width: 100%;
  height: auto;
  margin-top: 2rem;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}


.wo-meeting-link-text {
  height: 2rem;
  padding: 0.2rem;
  font-size: 1rem;
  width: 32rem;
  margin-right: 1rem;
}

.wo-form-container-meetlink {
  font-size: 1rem;
}

.wo-form-feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

.wo-form-feedback-data {
  color: #414141;
}

.feedback-input-box {
  font-size: 1rem;
  color: #707070;
}

.new-feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.new-feedback-header {
  text-align: center;
}

.spinner {
  color:#4a725c;
  margin: 0 4rem;
}