.button {
    font-size: 1.25rem;
    height: 4rem;
    line-height: 1.2rem;
    margin-right: 1rem;
    width: 10rem;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: transparent;
}

.button--inline {
  font-size: 1.25rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  width: 7rem;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: transparent;
  justify-items: center;
}

.button--wo-inline {
  font-size: 1.25rem;
  height: 2rem;
  line-height: 1.2rem;
  padding: 0.75rem 0.75rem 1.6rem 0.75rem;
  width: 7rem;
  border-width: 2px;
  border-style: solid;
  color: #F0F0F0;
  background-color:#4a725c;
  border-color: #4a725c;
  /* color: #4a725c; */
  /* background-color: transparent; */
  justify-items: center;
  text-align: center;
}

.button--wo-inline:hover {
  color: #4a725c;
  border-color: #4a725c;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
}

.button:hover {
  color: black;
  background-color: white;
  border: 2px solid transparent;
}

.button--danger {
  color: #BF5700;
  border-color: #BF5700;
  background-color: transparent;
}

.button--confirm {
  color: green;
  border-color: green;
  background-color: transparent;
}

.button--danger:hover {
  color: white;
  background-color: #BF5700;
}

.button--confirm:hover {
  color: white;
  background-color: green;
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: white;
  color: white;
  background-color: transparent;
  opacity: 0.7;
}