.login-container {
  padding-top: 350px;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.nav-app-logo {
  padding-left: 10px;
  width: 200px; 
}

.button--inline--container {
  display: flex;
  justify-content: center;
}

.login-label {
  margin: 6px;
}

.login-header-h1 {
  border-bottom: 3px solid;
}