/* style="width: 300px; margin: 1em" */
.login-container {
  /* position:absolute; */
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  color: white;
}

.nav-app-logo {
  padding-left: 10px; /* Some padding */
  width: 200px; /* Set a small width */
}

.button--inline--container {
  display: flex;
  justify-content: center;
}

.login-label {
  margin: 6px;
}

.login-header-h1 {
  border-bottom: 3px solid;
}