body {
  font-size: 24px;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  background-color: rgb(245,245,245);
  display: flex;
  flex-flow: row wrap;
}

.queue-container {
  width: vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 14rem;
}


.queue-workorder-box {
  background: white;
  width: 45%;
  height: auto;
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;   
  border: 1px solid rgba(0,0,0 ,0.15);
  flex-direction: column;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%);
  border-left: solid lightgrey 3px;
  border-top: solid lightgrey 6px;
  transition: 0.3s;
}

.queue-workorder-header {
  background:lightgrey;
  font-size: 18px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 1rem;
  transition: 0.3s;
}

.new {
  background: #e4b79f;
}

.in-progress{
  background:#4a725c;
}

.closed {
  background:#786760;
}
.queue-workorder-body {
  background: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: row;
  text-align: left;
  transition: 0.3s;
  border: 1px black;
}

.queue-workorder-body-left {
  border: 1px black;
}

.queue-workorder-body-right {
  border: 1px black;
}
.queue-workorder-text {
  width: 100%;
  font-size: 14px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
 }

.description-container {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: 1rem;
}

.queue-workorder-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}

.btn-workorder-footer {
  color: #1d3837;
  border: ipx solid blue;
  font-size: 14px;
  margin-right: 1rem;
}

.category-name {
  font-weight: 800;
}

#workorder-title {
  font-weight: 800;
}

#workorder-created {
  font-size: 14px;
}

.queue-workorder-screenshot {
  display:flex;
  width:100%;
  justify-content: center;
  margin-bottom: 15px;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 350px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.hidden {
  display: none;
}